<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Show Recipe</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
	      th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
	
	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	        crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="pannel-group">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<h5>Categories:</h5>
							</div>
							<div class="col-md-9">
								<ul th:each="category : ${recipe.categories}">
									<li th:text="${category.description}">Category</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Prep Time:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.prepTime}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>Difficulty:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.difficulty}">Easy</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Cooktime:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.cookTime}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>Servings:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.servings}">4</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5>Source:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.source}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5>URL:</h5>
							</div>
							<div class="col-md-3">
								<p><a href="#" th:href="${recipe.url}"  th:text="${recipe.url}">http://www.example.com</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-11 ">
								<h1 class="panel-title">Ingredients</h1>
							</div>
							<div class="col-md-1">
								<a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<ul th:each="ingredient : ${recipe.ingredients}">
									<li th:text="${ingredient.getAmount()}
										+ ' ' + ${ingredient.getUom().getDescription()}
										+ ' - ' + ${ingredient.getDescription()}">Ingredient...</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Directions</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.directions}">Lorem ipsum dolor sit amet...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Notes</h1>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.notes.recipeNotes}">Lorem ipsum dolor sit amet...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>